body{
    position: relative;
    min-height: 100vh;
    background-color: rgb(150, 213, 152);
    margin: 0;
    padding-bottom: 4rem;
}

header{
    background-color: rgba(228, 255, 255, 0.244);
    border-radius: 1rem;
    margin: 21px;
}

footer{
    background-color: rgba(31, 72, 18, 0.49);
    text-align: center;
    position: absolute;
    bottom:0;
    width: 100%;
    height: 4rem; 
}

h1{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0%;
}


h2{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    text-align: center;
    font-style: normal;
    color: #3e7036;
    margin: 0%;
    margin-top: 20px;
}


h3{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    color: #14430d;
    margin-top: 0%;
    margin-bottom: 0%;
}

nav{
    background-color: #1b4515ad;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a{
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    color: #dcfde9;
    margin: 10px;
    border-radius: 1rem;
}

button{
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    color: #ffffffb4;
    background-color: #0c3007;
    margin: 10px;
    border-radius: 1rem;
} 

.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.tarjeta {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.313);
    padding: 20px;
    margin: 30px;
    margin-top: 0%;
    border-radius: 1rem;
    text-decoration: none;
    color: inherit;
}
.cuerpo {
    font-family: "Lilita One", sans-serif;
    font-size: 1.5rem;
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: column;
}

.imagenes {
    width: 150px;
    background-color: #ffffffc2;
    object-fit: cover;
    border-radius: 60px;
    margin-bottom: 10px;
}

.eliminar{
    font-family: "Lilita One", sans-serif;
    font-weight: 80;
    font-size: 1.4rem;
    font-style: normal;
    color: #ffc2c2;
    background-color: #b00e0eb4;
    border-radius: 1rem;
}